body {
  margin: 0;
  /* Dark Mode */
  padding: 12px 24px;
  background-color: #333;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 0.05em;
  font-size: 1.05rem;
}

hr {
  height: 0;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px dashed #ccc;
}
